body {
    background: #EFEADF;
}

.image img {
    width: 460px;
    height: 240px;
}

#immersive_slider {
    margin: 4em 0;
}

header {
    background: #C17D51;
    font-size: 1.5em;
}

#main_navbar {
    padding: 0.5em;
}

#main_navbar > li:nth-child(3) {
    width: 100px;
}

#main_navbar > li:nth-child(3) img {
    position: absolute;
    width: 100px;
    height: 100px;
    top: -5px;
    z-index: 1;
}

#secondary_nav {
    background-color: #564335;
    border-bottom: 2px solid #292019;

}

#secondary_nav ul {
}

.search-bar {
    width: 30%;
}

ul:not(.is-pagination) {
    display: flex;
    list-style: none;
    padding: 0;
}

nav ul {
    justify-content: space-around;
    margin: 0;
    font-family: 'Gloria Hallelujah', cursive;
}

#catalog {
    justify-content: space-around;
    flex-wrap: wrap;
}

#catalog img {
    margin-bottom: 1em;
}

footer {
    text-align: center;
    background: #C17D51;
}
