* {
    box-sizing: border-box;
}

body {
    background-color: #EFEADF;
}

header {
    background-color: #C17D51;
}

header a {
    color: white;
}

ul {
    list-style: none;
    padding-left: 0;
}

#main_navbar {
    display: flex;
    justify-content: space-around;
    padding: 0.5em 0;
    font-size: 1.5em;
    font-family: 'Gloria Hallelujah', cursive;
}

#main_navbar > li:nth-child(3) {
    width: 150px;
}

#main_navbar > li:nth-child(3) a {
    position: absolute;
    top: -5px;
    z-index: 1;
}

#main_navbar > li:nth-child(3) img {
    width: 150px;
    height: 150px;
}

#secondary_nav {
    background-color: #564335;
    display: flex;
    justify-content: space-between;
    padding: 0.3em 10em;
    border-top: 2px solid #32281f;
    border-bottom: 2px solid #32281f;
}

#secondary_nav .input-group {
    width: 40%;
    opacity: 0.7;
}

#secondary_nav ul {
    margin: 0;
    display: flex;
    width: 40%;
    justify-content: space-around;
    font-size: 1.5em;
}

#immersive_slider {
    margin: 3em 0;
}

main section {
    margin: 3em 0;
}

.etabs {
    display: flex;
    margin: 0;
    padding: 0;
}

.etabs li {
    padding: 0.5em;
    margin-left: 2em;
    background-color: #FAB147;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #32281f;
    border-bottom: 0;
}

.etabs li.active {
    background-color: #FDF9A3;
}

.etabs li a {
    color: black;
}

#tab-container div {
    border: 1px solid #32281f;
    border-radius: 5px;
    padding: 2em;
    background-color: #FDF9A3;
}


#catalog {
    display: flex;
    flex-wrap: wrap;
}

#catalog li {
    margin-bottom: 1em;
    margin-right: 1em;
}

#catalog li img {
    float: left;
}

.catalog-product-name {

}

.product-img>img {
    width: 100%;
}

.miniatures {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.miniatures img {
    margin-top: 1em;
}

section.suggested-products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

article.product {
    background-color: #fff;
    padding: 2em;
    opacity: 0.8;
    border-radius: 5px;
    margin-bottom: 2em;
}

article.product>img {
    width: 100%;
}

article.product .product-name {
    display: block;
    text-align: center;
    margin-top: 1em;
}

table {
    margin: 2em 0;
}

table td {
    width: 20%;
    padding: 0.5em;
}

table td[colspan="4"] {
    text-align: right;
    padding-right: 2em;
}

table tr {
    margin-bottom: 1em;
}

footer {
    background-color: #564335;
    text-align: center;
    padding: 1em;
    border-top: 2px solid #32281f;
}

footer p {
    margin: 0;
    color: white;
}
